.upload-form {
  display: flex;
  justify-content: space-between;

  padding-bottom: 20px;
}

.upload-form input {
  padding: 6px 12px;

  font-family: "Verdana", sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #14396a;

  background: linear-gradient(to bottom, #a7dbee 5%, #70a3cf 100%);
  border: 1px solid #3866a3;
  border-radius: 11px;

  cursor: pointer;
}

.upload-form input:hover {
  background: linear-gradient(to bottom, #70a3cf 5%, #a7dbee 100%);
}

.upload-form input:active {
  position:relative;
  top:1px;
}

.upload-form__input-file {
  display: none !important;
}
